
@"
# Python
venv/
__pycache__/
*.pyc
*.pyo
.env

# Output files
endpoints.json
scan_results.json
params.json
token.txt
swagger_captured.yaml
traffic.mitm
endpoints2.json
*.pdf
*.json
*.mitm
# IDE
.vscode/
.idea/
"@ | Out-File -Encoding utf8 .gitignore
wordlists/clairvoyance-main/